<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>動画公開ページ</title>
  </head>
  <body>
    <header></header>
    <main>
      {% if videos %}
        {% for video in videos %}
          <div>
            <video src="{{ video.file_path }}" controls></video>
            <p>{{ video.title }}</p>
            <p>{{ video.description }}</p>
          </div>
        {% endfor %}
      {% endif %}
    </main>
    <footer></footer>
  </body>
</html>
